/* line 14, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
    line-height: 1;
    color: black;
    background: white;
}

/* line 19, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
    list-style: none;
}

/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

/* line 25, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
    quotes: "" "";
}

/* line 96, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
}

/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
    border: none;
}

/* line 39, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
    line-height: 1.5;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 75%;
}

/* line 68, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #222222;
}

/* line 69, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
    margin: 0;
}

/* line 70, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.50em;
}

/* line 71, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
    font-size: 2em;
    margin-bottom: 0.75em;
}

/* line 72, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1.00em;
}

/* line 73, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}

/* line 74, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.50em;
}

/* line 75, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
    font-size: 1em;
    font-weight: bold;
}

/* line 76, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
    margin: 0 0 1.5em;
}

/* line 77, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.left {
    display: inline;
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0;
}

/* line 78, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.right {
    display: inline;
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0;
}

/* line 80, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
    text-decoration: underline;
    color: #000099;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:visited {
    color: #000066;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:focus {
    color: black;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:hover {
    color: black;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:active {
    color: #cc0099;
}

/* line 81, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
    margin: 1.5em;
    color: #666666;
    font-style: italic;
}

/* line 82, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong {
    font-weight: bold;
}

/* line 83, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em {
    font-style: italic;
}

/* line 84, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dfn {
    font-style: italic;
    font-weight: bold;
}

/* line 85, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
    line-height: 0;
}

/* line 86, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
    border-bottom: 1px dotted #666666;
}

/* line 87, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
    margin: 0 0 1.5em;
    font-style: italic;
}

/* line 88, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
    color: #666666;
}

/* line 89, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
    margin: 1.5em 0;
    white-space: pre;
}

/* line 90, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
    font: 1em "andale mono", "lucida console", monospace;
    line-height: 1.5;
}

/* line 91, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
    margin: 0;
}

/* line 92, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
    margin: 0 1.5em 1.5em 0;
    padding-left: 3.333em;
}

/* line 93, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
    list-style-type: disc;
}

/* line 94, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
    list-style-type: decimal;
}

/* line 95, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
    margin: 0 0 1.5em 0;
}

/* line 96, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
    font-weight: bold;
}

/* line 97, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
    margin-left: 1.5em;
}

/* line 98, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
    margin-bottom: 1.4em;
    width: 100%;
}

/* line 99, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
    font-weight: bold;
}

/* line 100, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
    background: #c3d9ff;
}

/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
    padding: 4px 10px 4px 5px;
}

/* line 102, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tr.even td {
    background: #e5ecf9;
}

/* line 103, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
    font-style: italic;
}

/* line 104, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
    background: #eeeeee;
}

/* line 105, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
    color: #666666;
}

/* line 106, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
    color: #111111;
}

/* line 9, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.clear {
    clear: both;
}

/* line 12, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.nowrap {
    white-space: nowrap;
}

/* line 16, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.clearfix {
    overflow: hidden;
    *zoom: 1;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.small {
    font-size: 0.8em;
    margin-bottom: 1.875em;
    line-height: 1.875em;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.large {
    font-size: 1.2em;
    line-height: 2.5em;
    margin-bottom: 1.25em;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.first {
    margin-left: 0;
    padding-left: 0;
}

/* line 29, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.last {
    margin-right: 0;
    padding-right: 0;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.top {
    margin-top: 0;
    padding-top: 0;
}

/* line 35, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}

/* line 46, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.container {
    width: 950px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1;
}

/* line 48, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 {
    display: inline;
    float: left;
    margin-right: 10px;
}

/* line 139, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .column, * html div.span-1, * html div.span-2, * html div.span-3, * html div.span-4, * html div.span-5, * html div.span-6, * html div.span-7, * html div.span-8, * html div.span-9, * html div.span-10, * html div.span-11, * html div.span-12, * html div.span-13, * html div.span-14, * html div.span-15, * html div.span-16, * html div.span-17, * html div.span-18, * html div.span-19, * html div.span-20, * html div.span-21, * html div.span-22, * html div.span-23, * html div.span-24 {
    overflow-x: hidden;
}

/* line 51, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.last, div.last {
    margin-right: 0;
}

body#bp {
    background-color: #6280a4; /* background-color: #003366;*/
}

/* line 21, ../src/screen.scss */
/*
body#bp #container {
  width: 964px;
  margin: 0 auto;
   background-image: url("/images/midshad.png");
   background-repeat: repeat-y;
  background-position: top right;
  *zoom: 1;
  margin-top: 2em;
}
 */
body#bp #container {
    width: 950px;
    margin: 0 auto;
    margin-top: 2em;
}

body#bp #container #headbox {
    width: 950px;
}

/* line 25, ../src/screen.scss */
body#bp #container #headbox #header {
    height: 302px;
    background-color: #000;
    position: relative;
    background-image: url("/images/blykheader2.png");
}

/* line 31, ../src/screen.scss */
body#bp #container #headbox #header h1 {
    position: absolute;
    top: 0.8em;
    left: 1.4em;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2.8em;
    color: #973335;
}

/* line 40, ../src/screen.scss */
body#bp #container #headbox #header img#badge {
    position: absolute;
    top: 2em;
    right: 2em;
}

/* line 48, ../src/screen.scss */
body#bp #container #headbox #navigation {
    background: #bdd2ff;
    overflow: visible;
}

/* line 52, ../src/screen.scss */
body#bp #container #headbox #navigation ul#topmenu {
    margin-left: 10em;
    padding-bottom: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
}

/* line 65, ../src/screen.scss */
body#bp #container #middlewrapper {
    background: #dff4ff;
    width: 950px; /* margin: 0 auto;  */
    overflow: hidden;
    *zoom: 1;
}

.sitemenu  {
    list-style: none;
    margin-left: 20px;
    padding: 0;
    width: 200px;

    /*font-family: Helvetica, Arial, sans-serif;*/
    font-size: 10pt;

}

/*body#bp #container #middlewrapper ul.sitemenu  li {margin-top:4px; padding:3px 0px 3px 10px;}
body#bp #container #middlewrapper ul.sitemenu  li a{text-decoration:none; font-size:1.5em;}   
*/

#sitemapwrap {

    border-width: 2px;
    border-style: ridge;
    border-color: #973335;
    width: 600px;
    margin: 1em auto 1em;

}

#sitemapwrap h3{ margin-left: 40px; color: #4169e1;margin-top: 5px;}
#sitemapwrap ul{ margin-left: 40px;}

/*.sitemenu li a { display: block; padding: 4px 8px; text-decoration: none; border: solid 1px black; color: black; background-color: #AEBBE2; }    */
.sitemenu li a {
    display: block;
    padding: 2px 4px;
    text-decoration: none;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
  font-style: italic;

}

/*.sitemenu li a:hover { color: white; background-color: #4A63B8; }*/
.sitemenu li a:hover {
    color: #C00;
}

.red {
    color: red;
}

/* line 69, ../src/screen.scss */
body#bp #container #middlewrapper #content {
    margin-top: 0em;
    /*  display:inline;
  float: left; */
    padding: 10px 16px 0px 16px;
    background: #dff4ff;
    width: 918px;
}

#content .form {
    color: #973335;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;

}

/* line 77, ../src/screen.scss */
body#bp #container #middlewrapper #content img {
/*float: left;*/
    margin: 5px 10px 0px 0px;
    border: 1px solid black;
    padding: 3px;
    margin-bottom: 5px;
}

body#bp #container #middlewrapper #oneortwo img {
    float: left;
    margin: 5px 10px 0px 0px;
    border: 1px solid black;
    padding: 3px;
}

/* line 84, ../src/screen.scss */
body#bp #container #middlewrapper #content p {

    font-size: 10pt;
    color: #500; /*   margin-left:18px; */

}

body#bp #container #middlewrapper #content #imagenavi {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

body#bp #container #middlewrapper #content form p {
    margin-bottom: 0px;
    padding-bottom: 5px;
}

/* line 93, ../src/screen.scss */
body#bp #container #middlewrapper #oneortwo {
    margin-top: 0em;
    display: inline;
    float: left;
    padding: 10px 16px 0px 16px;
    background: #dff4ff;

    width: 770px;
}

body#bp #container #middlewrapper #content  ul {
    list-style: none;

}

/*
body#bp #container #middlewrapper #content  ul li {margin-top:10px; width:150px;}
body#bp #container #middlewrapper	 #content ul li a { display: block; padding: 4px 8px; text-decoration: none; border: solid 1px black; color: black; background-color: #AEBBE2;}
body#bp #container #middlewrapper	 #content ul li a:hover { color: white; background-color: #4A63B8; }
*/
/* line 139, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body#bp #container #middlewrapper .oneortwo {
    overflow-x: hidden;
}

/* line 98, ../src/screen.scss */
body#bp #container #middlewrapper #sidebar {
    display: inline;
    float: left;
    margin-right: 0;
    width: 130px;
    text-align: justify;
    margin-top: 0.8em;
    background-color: white;
    padding: 8px;
    float: left;
    background: #f0ffff;
}

/* line 139, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body#bp #container #middlewrapper #sidebar {
    overflow-x: hidden;
}

/* line 112, ../src/screen.scss */
body#bp #container #footer {
    margin-bottom: 0.5em;
    height: 40px;
    background: #Bdd2FF;
    width: 950px;
    text-align: center;
}

body#bp #container #footer a {

    text-decoration: none;
    color: #666666;
}

body#bp #container #footera:hover {
    color: #000000;
}

body#bp #container #middlewrapper #gallery {
    background-color: #444;
    padding: 10px;
    width: 100%;
}

body#bp #container #middlewrapper #gallery ul {
    list-style: none;
}

body#bp #container #middlewrapper #gallery ul li {
    display: inline;
}

body#bp #container #middlewrapper #gallery ul img {
    border: 2px solid #BBB; /*border-width: 5px 5px 20px; */
}

body#bp #container #middlewrapper #gallery ul a:hover img {
    /*border: 5px solid #fff;
     border-width: 5px 5px 20px;  */
/*color: #fff; */
}

#gallinks {
    width: 900px;
    margin-left: 15px;
    margin-top: 8px;
    border: 1px solid #aaaaaa;
    background: transparent;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
body#bp #container #middlewrapper  #gallinks #gtitle{float:left;}


body#bp #container #middlewrapper  #gallinks ul {
    list-style-type: none;
    float: left;
}

body#bp #container #middlewrapper  #gallinks ul li {
    /*float: left;*/
        display: inline-block;
        vertical-align: middle;
       *vertical-align: auto;
}

body#bp #container #middlewrapper  #gallinks  ul li a {
    text-decoration: none;
    color: #882200;
}

body#bp #container #middlewrapper  #gallinks ul li a:hover {
    color: #555000;
}

body#bp #container #middlewrapper #gallery ul a:hover {
    color: #fff;
}

body#bp #container #middlewrapper #gallery {
    background-color: #444;
    padding: 10px;
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

body#bp #container #middlewrapper #gallery ul {
    list-style: none;
}

body#bp #container #middlewrapper #gallery ul li {
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    position: relative;
}

body#bp #container #middlewrapper #gallery ul li {
    *display: inline;
}

body#bp #container #middlewrapper #gallery ul li a {
    display: block;
}

body#bp #container #middlewrapper #gallery ul li #imageinfo .imagefont {
    text-align: center;
    color: white;
    width: 100px;
    line-height: 1.2em;
}

body#bp #container #middlewrapper .backBox {
    color: #666666;
    margin-left: 20px;
}

.div.field, div.actions {
    margin-bottom: 10px;
}

#notice {
    color: green;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}

.error_messages p {
    margin: 8px 10px;
}

.error_messages ul {
    margin: 0;
}

/*
#bs{
   width: 964px;
margin: 0 auto;
background-image:url("/images/bottshad.png");
background-repeat:no-repeat;
background-position: right top;
height:14px;
margin-top:-6px; }
*/

.shadow {
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000; /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"; /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength = 4, Direction = 135, Color = '#000000');
}

/************************************/

body#bp #middlewrapper #content #leftside {
    float: left;
    display: inline;
    float: left;
    margin-right: 10px;
    width: 710px;

}

/* line 138, ../../../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body#bp #middlewrapper #content #leftside {
    overflow-x: hidden;
}

/* line 314, ../../../app/stylesheets/screen.scss */
body#bp #middlewrapper #content #rightside {
    float: right;
    display: inline;
    float: left;
    margin-right: 10px;
    width: 182px;
    margin-top: 1em;
}

/* line 138, ../../../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body#bp #middlewrapper #content #rightside {
    overflow-x: hidden;
}

/* line 316, ../../../app/stylesheets/screen.scss */
body#bp #middlewrapper #content #rightside p {
    line-height: 1em;
    padding: 1px;
    margin-bottom: 0.5em;
    color: black;
}

/* line 317, ../../../app/stylesheets/screen.scss */
body#bp #middlewrapper #content #rightside h1, body.three-col #content #rightside h2, body.three-col #content #rightside h3, body.three-col #content #rightside h4 {
    margin-bottom: 0.4em;
}

body#bp #middlewrapper #content p {
    padding: 8px;
    line-height: 1.8em;
    font-size: 1.1em;
    text-align: left;
}
.details{position:relative;}
.details p {
    margin: 0px;
    padding: 0px;
}
.details .attrib{width:300px;display:block; border:1px solid gray; background:white; padding-left:10px;}

#pay{float:right; width:400px; height:200px; background:white; margin-right:100px; margin-top:100px;}


#join{text-align:center; width:400px; border: 2px solid #ffffff; border-radius: 10px; background:#BDD2FF; color: graytext;margin-left: auto;margin-right: auto; margin-bottom: 20px;}