

<h1> <% title @page.name %>  </h1>

 <div id = "show_content"><%= @page.content.html_safe %></div>
 <div style = "clear:both">&nbsp;</div>
<p class = "showmenu"}>
  <%= link_to "Edit", edit_page_path(@page) %> |
  <%= link_to "Destroy", @page, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", pages_path %>
</p>
