  <script type="text/javascript">
  $(function() {
      $('#gallery a').lightBox();   
      $('#gallery img').mouseover(function(){$(this).fadeTo('medium',0.5)}).mouseout(function(){$(this).fadeTo('fast',1)})
  });
  </script>
 	<style type="text/css">
/* jQuery lightBox plugin - Gallery style */
/*
#gallery {
	background-color: #444;
	padding: 10px;
	width: 520px;
}
#gallery ul { list-style: none; }
#gallery ul li { display: inline; }
#gallery ul img {
	border: 5px solid #3e3e3e;
	border-width: 5px 5px 20px;
}
#gallery ul a:hover img {
	border: 5px solid #fff;
	border-width: 5px 5px 20px;
	color: #fff;
}
#gallery ul a:hover { color: #fff; }
*/
</style>


<div id="gallery">  
	    <ul>
	     <% @gallery.images.each do |image| %> 
	           <li>
							<a href = "<%= image.photo.url(:medium) %>", title ="<%= image.description%>">
									<img src="<%= image.photo.url(:thumb)%>" width="100" height="100" alt="<%= image.title%>" /> 
								</a>
						 </li>
	      <% end %>   
	    </ul>
</div>