<div id = "join">
<h2> Joining the Blyskawica Society</h2>

  <p>
    If you are interested in joining the Blyskawica Society please download the
    <a href ="/downloads/Membership%20form.pdf" title = "application form">application form from here</a> and print a copy.
    Instructions and contact details may be found on the form. <br>If you wish to contact the society for any reason, please use our <%= link_to "contact form", contact_path %><br>
    Thank you


  </p>
</div>