		<script type="text/javascript">


		//      <![CDATA[
				$(document).ready(function(){  
						var images = new Array (58);
						images[0] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.001.png";
						images[1] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.002.png";
						images[2] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.003.png";
						images[3] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.004.png";
						images[4] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.005.png";
						images[5] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.006.png";
						images[6] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.007.png";
						images[7] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.008.png";
						images[8] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.009.png";
						images[9] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.010.png";
						images[10] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.011.png";
						images[11] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.012.png";
						images[12] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.013.png";
						images[13] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.014.png";
						images[14] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.015.png";
						images[15] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.016.png";
						images[16] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.017.png";
						images[17] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.018.png";
						images[18] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.019.png";
						images[19] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.020.png";
						images[20] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.021.png";
						images[21] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.022.png";
						images[22] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.023.png";
						images[23] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.024.png";
						images[24] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.025.png";
						images[25] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.026.png";
						images[26] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.027.png";
						images[27] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.028.png";
						images[28] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.029.png";
						images[29] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.030.png";
						images[30] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.031.png";
						images[31] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.032.png";
						images[32] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.033.png";
						images[33] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.034.png";
						images[34] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.035.png";
						images[35] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.036.png";
						images[36] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.037.png";
						images[37] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.038.png";
						images[38] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.039.png";
						images[39] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.040.png";
						images[40] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.041.png";
						images[41] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.042.png";
						images[42] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.043.png";
						images[43] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.044.png";
						images[44] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.045.png";
						images[45] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.046.png";
						images[46] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.047.png";
						images[47] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.048.png";
						images[48] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.049.png";
						images[49] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.050.png";
						images[50] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.051.png";
						images[51] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.052.png";
						images[52] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.053.png";
						images[53] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.054.png";
						images[54] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.055.png";
						images[55] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.056.png";
						images[56] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.057.png";
						images[57] = "/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.058.png";
						var index = 0;

						
						$("input").click(function(){  
							  step = parseInt(this.id);
							  newIndex = index + step;
							if(newIndex >= 0 && newIndex < images.length)
              {
 								  if(step == 0)
                      { newIndex = 0;   }
                  
 									$('img#Slideshow').attr('src' ,images[newIndex]);   
                  index = newIndex; 
              } 
              
						 
							})
							
						})
						
						
		//      ]]>   
	 
		</script>
       
		<p align="center">
			<br/>
			<br/>
			<img id ="Slideshow" alt="" src="/Slides/ORP%20BLYSKAWICA%20East%20Cowes%202009.001.png"><br/>

			<br>
			<input type="image" class = "home" id = "0"  src="/Slides/home.png"> &nbsp;&nbsp;&nbsp; <input type="image" id = "-1" src="/Slides/prev.png"> <input type="image" id = "1" src="/Slides/next.png">
		</p>
