<p id="notice"><%= notice %></p>

<p>
  <b>Emailaddress:</b>
  <%= @emailcontact.emailaddress %>
</p>

<%= link_to 'Edit', edit_emailcontact_path(@member_fee) %>
<%= link_to 'Back', emailcontacts_path %>
